<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Cadastro</title>
    </h:head>
    <h:body>


        <f:view>

            <h:panelGrid columns="2" class="formCadastro">
                <h:outputLabel for="nome" value="#{message.nome}: "/>
                <h:inputText id="nome" value="#{gerenciadorPessoa.pessoa.nome}"/>


                <h:outputLabel for="cpf" value="#{message.cpf}: "/>
                <h:inputText id="cpf" value="#{gerenciadorPessoa.pessoa.cpf}"/>



                    <h:commandButton value="Ok" action="result" />    

                </h:form>

        </f:view>


    </h:body>

</html>

